# Бинарные файлы (исполняемые файлы)
*.exe
*.exe~
*.dll
*.so
*.dylib

# Артефакт сборки (обычно совпадает с названием папки/проекта)
bin/
out/
dist/

# Тестовое покрытие
*.out
*.prof

# Переменные окружения (секреты)
.env